<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
<section class="reset-password-section">
  <div class="motivational-text">
    <h2>Reset Your Password</h2>
    <p>We understand that forgetting your password can be frustrating.</p>
    <p>Just enter your new password below to regain access to your account.</p>
  </div>
  <div class="reset-password-form-container">
    <h1>Reset Password</h1>
    <div th:if="${error }" class="error" th:text="${error}"></div>
    <div th:if="${message}" class="message" th:text="${message}"></div>
    <form action="#" th:action="@{/reset-password}" method="post">
      <input type="hidden" name="token" th:value="${token}">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <label for="confirmNewPassword">Confirm New Password:</label>
      <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
      <button type="submit">Reset Password</button>
    </form>
    <p><a th:href="@{/login}">Return to login</a></p>
  </div>
</section>
</body>
</html>